<ul>
  <% @movies.each do |movie| %>
  <div>
    <div><%= movie.title %> (<%= movie.rating %>)</div>
    <div><%= hit_or_flop(movie) %></div>
    <div><%= truncate(movie.description, length: 40, separator: ' ')  %></div>
    <div>Release Year: <%= year_of(movie) %></div>
  </div>
  <% end %>
</ul>