<h1>hello world</h1>

<ul>
  <% @movies.each do |movie| %>
  <div>
    <div><%= movie.title %> (<%= movie.rating %>)</div>
    <div><%= number_to_currency(movie.total_gross, precision: 0) %></div>
    <div><%= movie.description %></div>
    <div>Release Date: <%= movie.released_on %></div>
  </div>
  <% end %>
</ul>