<ul>
  <% @movies.each do |movie| %>
  <section class="movie">
    <div class="summary">
      <h2><%= link_to(movie.title, movie_path(movie)) %></h2>
      <h5>Release Year: <%= year_of(movie) %> (<%= movie.rating %>)</h5>
    </div>
    <h3><%= hit_or_flop(movie) %></h3>
    <p><%= truncate(movie.description, length: 55, separator: ' ')  %></p>
  </section>
  <% end %>
</ul>